
.btn {
  display: inline-block;
  text-align: center;

  border: 0 none;
  font-size: 16px;

  padding: 10px 20px;
  border-radius: 6px;

  -webkit-appearance: none;
  font-weight: 600;
  background: none;
  cursor: pointer;
  box-sizing: content-box;
  text-decoration: none;
  background: #eee;
  color: #000;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
}

.btn-lg {
  padding: 20px 60px;

  border-radius: 30px;
  font-weight: 700;
}

.btn-primary {
  background: #217dea;
  color: #fff;
}

.btn-vk {
  width: 100%;
  padding: 14px 20px;
  color: #fff;
  background: #4680C2 url('../assets/vk.svg') no-repeat left center;
  background-size: auto 84px;

  font-weight: 300;

  & > span {
    font-weight: 600;
  }
}

.btn-fb {
  width: 100%;
  padding: 14px 20px;
  color: #fff;
  background: #3A559F url('../assets/fb.svg') no-repeat 22px center;
  background-size: auto 28px;
  font-weight: 300;

  & > span {
    font-weight: 600;
  }
}

.btn-whatsapp {
  width: 100%;
  padding: 14px 20px;
  color: #fff;
  background: #25d366 url('../assets/wa.svg') no-repeat 10px center;
  background-size: auto 60px;
  font-weight: 400;
}
