
.btn {
  display: inline-block;
  text-align: center;

  border: 0 none;
  font-size: 16px;

  padding: 10px 20px;
  border-radius: 6px;

  -webkit-appearance: none;
  font-weight: 600;
  background: none;
  cursor: pointer;
  box-sizing: content-box;
  text-decoration: none;
  background: #eee;
  color: #000;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
}

.btn-lg {
  padding: 20px 60px;

  border-radius: 30px;
  font-weight: 700;
}

.btn-primary {
  background: #217dea;
  color: #fff;
}

.btn-vk, .btn-fb, .btn-whatsapp {
  width: 100%;
  padding: 14px 20px;
  color: #fff;

  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: auto 60px;
}

.btn-vk {
  background-color: #4680C2;
  background-image: url('../assets/vk.svg');

  font-weight: 300;

  & > span {
    font-weight: 600;
  }
}

.btn-fb {
  background-color: #0084FF;
  background-image: url('../assets/fb.svg');

  font-weight: 300;
  & > span {
    font-weight: 600;
  }
}

.btn-whatsapp {
  background-color: #25d366;
  background-image: url('../assets/wa.svg');

  font-weight: 400;
}
