<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8"/>
  <title><%= trans('book.title') %> | Voltz</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link
    rel="preload"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic"
    type="text/css"
    as="style"
  />

  <%= require('html-loader!./_include_head.html') %>
</head>
<body class="order">

<div class="modal-wrapper visible">
  <div class="modal book-modal">
    <div class="modal-header">
      <h2><%= trans('bookForm.title') %></h2>
    </div>

    <div class="modal-content">
      <form method="post" action="https://1form.cc/to/0NK4EJZWYGEDF7Z0/" class="form">
        <input type="hidden" name="_redirect" value="https://voltz.me/book/success/"/>

        <div class="form-item">
          <label for="name" class="form-item-label">
            <%= trans('bookForm.nameLabel') %>
          </label>

          <input
            id="name"
            class="input input-lg form-item-input"
            name="name"
            type="text"
            placeholder="<%= trans('bookForm.namePlaceholder') %>"
            autocomplete="name"
          />
        </div>

        <div class="form-item">
          <label for="phone" class="form-item-label">
            <%= trans('bookForm.phoneLabel') %>
          </label>

          <input
            id="phone"
            class="input input-lg form-item-input"
            name="phone"
            type="tel"
            placeholder="<%= trans('bookForm.phonePlaceholder') %>"
            autocomplete="tel"
          />
        </div>

        <div class="form-item">
          <button class="btn btn-primary"><%= trans('bookForm.submit') %></button>
          <a href="/" class="book-form-hide"><%= trans('bookForm.cancel') %></a>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
