<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8"/>
  <title><%= trans('book2.title') %> | Voltz</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link
    rel="preload"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic"
    type="text/css"
    as="style"
  />

  <%= require('html-loader!./_include_head.html') %>
</head>
<body class="book2" data-page="main">

<div class="book2-intro">
  <div class="book2-intro-overlay"></div>
  <div class="container">
    <div class="book2-intro-logo"></div>

    <div class="book2-intro-container">
      <h1 class="book2-intro-title">
        <%= trans('book2.intro.title') %>
      </h1>
      <p class="book2-intro-text">
        <%= trans('book2.intro.text') %>
      </p>

      <a class="btn book2-intro-btn" href="#form">
        <%= trans('book2.intro.book') %>
      </a>

      <a class="book2-intro-btn-mobile" href="#form">
        <div class="book2-intro-btn-mobile-text"><%= trans('book2.intro.book') %></div>

        <img
          class="book2-intro-btn-mobile-icon"
          src="<%= require('./assets/book2-intro-icon-more.svg') %>"
          alt="<%= trans('book2.intro.book') %>"
        />
      </a>
    </div>
  </div>
</div>

<div class="book2-info">
  <div class="container">
    <div class="book2-info-features">
      <div class="book2-info-feature">
        <img
          class="book2-info-feature-icon"
          src="<%= require('./assets/main/feature1.svg') %>"
          alt="<%= trans('book2.info.feature1.title') %>"
        />
        <h3 class="book2-info-feature-title"><%= trans('book2.info.feature1.title') %></h3>
        <div class="book2-info-feature-text"><%= trans('book2.info.feature1.text') %></div>
      </div>
      <div class="book2-info-feature">
        <img
          class="book2-info-feature-icon"
          src="<%= require('./assets/main/feature2.svg') %>"
          alt="<%= trans('book2.info.feature2.title') %>"
        />
        <h3 class="book2-info-feature-title"><%= trans('book2.info.feature2.title') %></h3>
        <div class="book2-info-feature-text"><%= trans('book2.info.feature2.text') %></div>
      </div>
      <div class="book2-info-feature">
        <img
          class="book2-info-feature-icon"
          src="<%= require('./assets/main/feature3.svg') %>"
          alt="<%= trans('book2.info.feature3.title') %>"
        />
        <h3 class="book2-info-feature-title"><%= trans('book2.info.feature3.title') %></h3>
        <div class="book2-info-feature-text"><%= trans('book2.info.feature3.text') %></div>
      </div>
    </div>
  </div>
</div>

<div class="book2-places">
  <div class="container">
    <h2 class="book2-places-title"><%= trans('book2Page.placesTitle') %></h2>
  </div>
  <div class="container">
    <div class="book2-places-main">
      <div class="book2-places-list">
        <!--<div class="book2-places-place">
          <h3><%= trans("book2Page.placesPlace1Title") %></h3>
          <address><%= trans("book2Page.placesPlace1Address") %></address>
        </div>-->

        <div class="book2-places-place">
          <h3><%= trans("book2Page.placesPlace2Title") %></h3>
          <address><%= trans("book2Page.placesPlace2Address") %></address>
        </div>

        <div class="book2-places-place">
          <h3><%= trans("book2Page.placesPlace3Title") %></h3>
          <address><%= trans("book2Page.placesPlace3Address") %></address>
        </div>
      </div>
    </div>

    <div class="book2-places-map">
      <div class="book2-places-map-map" id="book2-Map">
        <!--<div class="book2-places-map-place" data-latlng="59.937866,30.344814">
          <h3>voltz.me - <%= trans("book2Page.placesMapPlace1Title") %></h3>
          <address><%= trans("book2Page.placesMapPlace1Address") %></address>
          <p><%= trans("book2Page.placesMapPlace1Description") %></p>
        </div>-->
        <div class="book2-places-map-place" data-latlng="59.9573109,30.3281336">
          <h3>voltz.me - <%= trans("book2Page.placesMapPlace2Title") %></h3>
          <address><%= trans("book2Page.placesMapPlace2Address") %></address>
          <p><%= trans("book2Page.placesMapPlace2Description") %></p>
        </div>
        <div class="book2-places-map-place" data-latlng="59.942371,30.2777129">
          <h3>voltz.me - <%= trans("book2Page.placesMapPlace3Title") %></h3>
          <address><%= trans("book2Page.placesMapPlace3Address") %></address>
          <p><%= trans("book2Page.placesMapPlace3Description") %></p>
        </div>
      </div>
      <script type="text/javascript">
        let map;
        let markers = [];
        let infoWindows = [];

        var mapPlaces = document.querySelectorAll('.book2-places-map-place');

        function initMap() {
          map = new google.maps.Map(document.getElementById('book2-Map'), {
            zoom: 12,
            minZoom: 11,
            maxZoom: 15,
            fullscreenControl: false,
            mapTypeControl: false,
            streetViewControl: false,

            styles: [
              {
                featureType: 'poi.business',
                stylers: [{visibility: 'off'}],
              },
              {
                featureType: 'transit',
                elementType: 'labels.icon',
                stylers: [{visibility: 'off'}],
              },
            ],

            restriction: {
              latLngBounds: {
                south: 59.837616,
                north: 60.036216,
                west: 30.161628,
                east: 30.498926,
              },
              strictBounds: false,
            },
          });

          let latLngBounds = new google.maps.LatLngBounds();
          Array.from(mapPlaces).map(node => {
            const [lat, lng] = node.getAttribute('data-latlng').split(',');

            latLngBounds.extend(new google.maps.LatLng(
              parseFloat(lat),
              parseFloat(lng)
            ));
          });

          map.setCenter(latLngBounds.getCenter());
          map.fitBounds(latLngBounds);

          mapPlaces.forEach((node) => {
            const [lat, lng] = node.getAttribute('data-latlng').split(',');
            const name = node.querySelector('h3').textContent;

            const marker = new google.maps.Marker({
              title: name,
              map: map,
              position: {
                lat: parseFloat(lat),
                lng: parseFloat(lng),
              },
            });

            const infoWindow = new google.maps.InfoWindow({
              content: node.innerHTML,
              maxWidth: 280,
            });

            infoWindows.push(infoWindow);

            markers.push({
              position: {
                lat, lng,
              },
              map: map,
              title: node.querySelector('h3').textContent,
            });
            marker.addListener('click', function() {
              infoWindows.forEach((infoWindow) => infoWindow.close());
              infoWindow.open(map, marker);
            });
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAHrSOw7em7FEgkXDxC_MDnjCVA46gyr8&callback=initMap"
              async defer></script>
    </div>
  </div>
</div>


<div class="book2-prices">
  <div class="container">
    <h2 class="book2-prices-title"><%= trans('book2.prices.title') %></h2>

    <table class="book2-prices-table">
      <tr class="book2-prices-row">
        <th>
          <div class="book2-prices-row-header">
            <%= trans('book2.prices.per_hour') %>
          </div>
        </th>
        <td>
          <span class="book2-prices-row-value">
            500 <%= trans('RUB') %>
          </span>
          <span class="book2-prices-row-value-description"><%= trans('price.first_hour') %></span>
        </td>
        <td>
          <span class="book2-prices-row-extra-value">+ 100 <%= trans('RUB') %></span>
          <span class="book2-prices-row-extra-value-description"><%= trans('price.next_hours') %></span>
        </td>
      </tr>

      <tr class="book2-prices-row">
        <th>
          <div class="book2-prices-row-header">
            <%= trans('price.per_day') %>
          </div>
        </th>
        <td>
          <span class="book2-prices-row-value">
            1000 <%= trans('RUB') %>
          </span>
          <span class="book2-prices-row-value-description"><%= trans('price.first_day') %></span>
        </td>
        <td>
          <span class="book2-prices-row-extra-value">+ 800 <%= trans('RUB') %></span>
          <span class="book2-prices-row-extra-value-description"><%= trans('price.next_days') %></span>
        </td>
      </tr>


      <tr class="book2-prices-row">
        <th>
          <span class="book2-prices-row-header">
            <%= trans('price.per_12_hours') %>
          </span>
          <span class="book2-prices-row-header-description">
            <%= trans('price.per_12_hours_description') %>
          </span>
        </th>
        <td>
          <span class="book2-prices-row-value">800 <%= trans('RUB') %></span>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="book2-form" id="form">
  <div class="container">
    <form
      class="form book2-form-form"
      method="post"
      action="https://1form.cc/to/0NK4EJZWYGEDF7Z0/"
    >
      <h2 class="book2-form-title"><%= trans('book2.form.title') %></h2>

      <input type="hidden" name="_redirect" value="https://voltz.me/book/success/"/>
      <input type="hidden" name="_locale" value="<%= locale %>"/>
      <input type="hidden" name="_from" value="book2"/>

      <div class="form-item">
        <label for="name" class="form-item-label">
          <%= trans('book2.form.name') %>
        </label>

        <input
          id="name"
          class="input input-lg form-item-input"
          name="name"
          type="text"
          placeholder="<%= trans('book2.form.namePlaceholder') %>"
          autocomplete="name"
        />
      </div>

      <div class="form-item">
        <label for="phone" class="form-item-label">
          <%= trans('book2.form.phone') %>
        </label>

        <input
          id="phone"
          required
          class="input input-lg form-item-input"
          name="phone"
          type="tel"
          placeholder="<%= trans('book2.form.phonePlaceholder') %>"
          autocomplete="tel"
        />
      </div>

      <div class="form-item">
        <button class="btn btn-primary book2-form-submit"><%= trans('book2.form.submit') %></button>
      </div>

      <div class="form-item book2-form-or">
        <%= trans('book2.form.or') %>
      </div>

      <div class="form-item book2-form-buttons">
        <a target="_blank" href="https://vk.me/voltzme" class="btn btn-vk book2-form-submit">vk.me/<span>voltzme</span></a>
        <a target="_blank" href="https://m.me/voltzapp" class="btn btn-fb book2-form-submit">m.me/<span>voltzapp</span></a>
        <a target="_blank" href="https://wa.me/78124099372" class="btn btn-whatsapp book2-form-submit">WhatsApp</a>
      </div>

      <p class="book2-form-privacy-note">
        <%= sprintf(trans('book2.form.privacyPolicyNote'), { href: url('/privacy/') }) %>
      </p>
    </form>
  </div>
</div>

<div class="footer no-border">
  <div class="container">
    <a href="<%= url('/') %>" class="footer-logo">
      <img
        src="<%= require('./assets/logo-grey.svg') %>"
        alt="<%= trans('main.title') %>"
      />
    </a>

    <div class="footer-copyright">
      © Voltz, 2019<br/>
      <a href="<%= url('/privacy/') %>"><%= trans('privacyPolicy') %></a>
    </div>
  </div>
</div>
</body>
</html>
