<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="utf-8"/>
  <title><%= trans('main.title') %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link
    rel="stylesheet"
    type="text/css"
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic"
  />
</head>
<body>
<div class="main-intro">
  <div class="container">
    <a href="#"><img
      class="main-intro-logo"
      alt="<%= trans('main.title') %>"
      src="<%= require('./assets/logo.svg') %>"
    /></a>
    <h1 class="main-intro-title"><%= trans('main.intro.title') %></h1>
  </div>
  <a href="#main" class="main-intro-more">
    <img
      src="<%= require('./assets/main-intro-icon-more.svg') %>"
      alt="<%= trans('main.intro.more') %>"
    />
  </a>
</div>

<div id="main"></div>

<div class="main-info">
  <div class="container">
    <h2 class="main-info-title"><%= trans('main.info.title') %></h2>
    <div class="main-info-text"><%= trans('main.info.text') %></div>

    <div class="main-info-features">
      <div class="main-info-feature">
        <h3 class="main-info-feature-title"><%= trans('main.info.feature1.title') %></h3>
        <div class="main-info-feature-text"><%= trans('main.info.feature1.text') %></div>
      </div>
      <div class="main-info-feature">
        <h3 class="main-info-feature-title"><%= trans('main.info.feature2.title') %></h3>
        <div class="main-info-feature-text"><%= trans('main.info.feature2.text') %></div>
      </div>
      <div class="main-info-feature">
        <h3 class="main-info-feature-title"><%= trans('main.info.feature2.title') %></h3>
        <div class="main-info-feature-text"><%= trans('main.info.feature2.text') %></div>
      </div>
    </div>
  </div>
</div>

<div class="main-process">
  <div class="container">
    <h2 class="main-process-title"><%= trans('main.process.title') %></h2>

    <ol class="main-process-steps">
      <li class="main-process-step">
        <img
          class="main-process-step-icon"
          src="#"
          alt="<%= trans('main.process.step1.title') %>"
        />
        <h3 class="main-process-step-title"><%= trans('main.process.step1.title') %></h3>
      </li>
      <li class="main-process-step">
        <img
          class="main-process-step-icon"
          src="#"
          alt="<%= trans('main.process.step2.title') %>"
        />
        <h3 class="main-process-step-title"><%= trans('main.process.step2.title') %></h3>
      </li>
      <li class="main-process-step">
        <img
          class="main-process-step-icon"
          src="#"
          alt="<%= trans('main.process.step3.title') %>"
        />
        <h3 class="main-process-step-title"><%= trans('main.process.step3.title') %></h3>
      </li>
    </ol>
  </div>
</div>

<div class="main-map">
  <div class="container">
    <h2 class="main-map-title"><%= trans('main.map.title') %></h2>
    <div class="main-map-text"><%= trans('main.map.text') %></div>
  </div>

  <div class="main-map-map-wrapper">
    <div class="main-map-map"></div>
  </div>
</div>

<div class="main-faq">
  <div class="container">
    <h2 class="main-faq-title"><%= trans('main.faq.title') %></h2>

    <div class="main-faq-items">
      <% for (let i = 1; i <= 10; i++) { %>
      <div class="main-faq-item">
        <div class="main-faq-item-question">
          <span><%= trans(`main.faq.item${i}.question`) %></span>
          <div class="main-faq-item-toggle"></div>
        </div>
        <div class="main-faq-item-answer"><%= trans(`main.faq.item${i}.answer`) %></div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<div class="main-cta">
  <div class="container">
    <a href="#" class="btn btn-primary">Go to Voltz</a>
  </div>
</div>

<div class="footer">
  <div class="container">
    <a href="/" class="footer-logo">
      <img src="<%= require('./assets/logo-grey.svg') %>" alt="Voltz"/>
    </a>

    <div class="footer-copyright">
      © Voltz, 2019
    </div>
  </div>
</div>
</body>
</html>
