@import "./components/container.scss";
@import "./components/button.scss";
@import "./components/input.scss";
@import "./components/form.scss";
@import "./components/modal.scss";


body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Helvetica", sans-serif;
  font-weight: 300;

  min-width: 320px;
}

body.fixed {
  overflow: hidden;
}


h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;

  font-weight: 600;
}

a {
  color: #217dea;
  text-decoration: none;
}

.mailto {
  &-prefix {
    position: absolute;
    left: -1000px;
  }
}

.footer {

  .container {
    border-top: 1px solid #eee;
    padding-top: 24px;
    padding-bottom: 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.no-border {
    .container {
      border-top: none;
    }
  }

  &-logo {
    opacity: 0.5;
    display: block;
    height: 32px;

    img {
      height: 32px;
    }
  }

  &-copyright {
    font-size: 12px;
    color: #aaa;
    margin-top: 6px;
    text-align: right;
  }
}
