@import "./base.scss";
/*
 --- pages ---
*/
@import "./pages/index.scss";
@import "./pages/book.scss";
@import "./pages/book2.scss";
@import "./pages/privacy.scss";


.book-modal {
  width: 320px;

  @media (max-width: 480px) {
    width: 240px;
  }

  .form-item:last-child {
    margin-top: 48px;

    display: flex;
    align-items: center;

    @media (max-width: 480px) {
      flex-direction: column;
    }
  }

  .form-item-label {
    text-align: left;
  }

  .form-item-input {
    background: transparent;
    border-bottom: 1px solid #ccc;
  }
}

.book-form-privacy-note {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  line-height: 15px;
  color: #666;
}

.book-form-hide {
  display: inline-block;
  margin-left: 20px;
  @media (max-width: 480px) {
    margin-left: 0;
    margin-top: 20px;
  }

  color: #999;

  &:hover {
    text-decoration: underline;
  }
}
